

.workarea {
		padding-top: 5px;
        background: #f2f2f2;
}



.draggable-item{
	margin-top: 3px;
	cursor: crosshair;
	border:1px solid grey;	
}



.flowchart-operator-inputs-outputs-header{
	padding-top: 4px;
}



#chart_container {

  background: repeating-linear-gradient(
      45deg,
      #eee,
      #eee 10px,
      #e5e5e5 10px,
      #e5e5e5 20px
    );
}

#flowchart_area_1 {

  background:white;
}